body{
    width:375px;
    margin:0 auto;
}
#trending {
    width:375px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow: scroll;
}
@media screen and (min-width: 834px){
    body {
        width:834px;
    }
    #trending{
        width:834px;
    }
}